/*
#hlp_page {
	height: calc(99vh - 60px); /* 98% height IS an Alternative to allow scrolling of content!
} 

#hlp_body {
	height: 100%; 
	overflow: auto
}
*/
/*
#aql_header {
	padding:0 0 3px; 
	border-bottom:1px solid gray;
}
*/











